.nav {
  height: 10vh;
  width: 100%;
  background: #2e2e2e;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  z-index: 1;
}
.nav__list {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  list-style: none;
}
